<div class="background">
<div class="row justify-content-center">
    <div class="col-md-2">

<div class="sidebar NavBarAdmin">
  
    
      <h2>HelpDesk</h2>
      <ul class="nav nav-pills nav-stacked">
      
        
          <li class="js-item active"><a href="#manage/users">Emails</a></li>
        
          <li><a href="#manage/groups">Live Chat</a></li>
        
          <li><a href="#manage/organizations">Social Media</a></li>
        
          <li><a href="#manage/overviews">Ticket Management</a></li>
        
          <li><a href="#manage/macros">Web Forms</a></li>
        
          <li><a href="#manage/tags">Agents Collaboration</a></li>
        
          <li><a href="#manage/calendars">Reports</a></li>
        
          <li><a href="#manage/calendars">Dashboard</a></li>
          <li><a href="#manage/calendars">Branding</a></li>


      </ul>
    
  
    
      <h2>Automations</h2>
      <ul class="nav nav-pills nav-stacked">
      
        
          <li><a href="#system/integration">Templates</a></li>
        
          <li><a href="#channels/email">Macros</a></li>
        
          <li><a href="#channels/chat">Knowledgebase [Bot Agent]</a></li>
        
          <li><a href="#channels/twitter">Intent Classify and Replies</a></li>
        
          <li><a href="#channels/facebook">Goal Oriented Bot</a></li>
                
      
      </ul>
    
  

    
  
    
  

</div>
</div>

<div class="col-md-8 panel white">
</div>
</div>
</div>
<style type="text/css">
body
{
    background-color:#00356B !important;

}
</style>