<div class="particles-container">
  <div id="particles-js"></div>
  <div class="container">
    <br><br>
    <h1 class="text-center"> Automate <span class="typing"> </span> </h1>
    <div class="row text-center">
      <div class="col-sm-12">
        <br/>
        <h5 class="col-sm-12">AI powered customer support helpdesk that saves you time, money and effort without
          diluting customer experience.</h5>
      </div>
      <br/><br/>
      <div class="col-sm-12 text-center">
        <%= link_to "START FREE TRIAL", new_account_path, class: 'btn btn-lg btn-primary-inverse' %>
      </div>
    </div>
    <br><br>
  </div>

</div>

<div class="row">
  <div class="col s12">
    <p>
      <%= link_to "About" , "home_about_us_path" %>
        <%= link_to "Privacy" , "home_privacy_path" %>
          <%= link_to "Terms of Service" , "home_terms_of_service_path" %>
            &copy; 2018 <a class="indigo-text text-lighten-3" href="#">ChaturBots AI Private Limited </a> B-71, Alpine Heights,
            Navrangpura, Ahemdabad, India - 38009 Phone : 9512535646
    </p>
  </div>
</div>


<script type="text/javascript">
  var typed = new Typed('.typing', {
    strings: [" ", "<i> Email Support </i> ", "<i> Live Chat </i>", "<i> Twitter Replies </i>", "<i> Facebook Replies </i>", "<b><i> Customer Support </i></b>"],
    typeSpeed: 70
  }); 
</script>