<div class="background">
<div class="row justify-content-center background">
    <div class="col-md-4">
            <div class="card">
                <div class="card-header"><center>PRICING</center></div>
                <div class="card-body">
                    <center> <h3>500 INR / month</h3> </center>
                </div>
            </div>
    </div>
</div>
</div>
<style type="text/css">
    .background
    {
      background-color:#00356B !important;
    }
    body
    {
      background-color:#00356B !important;
    
    }
    </style>