<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Particles.js Application</title>
  </head>
  <body>
    <div class="">
      <h1>Hello, Particles.js!</h1>
    </div>
  </body>
</html>